{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block header %}Hi again.{% endblock %}

{% block body %}
    Hi {{ person }}! I think you are a variety of things:
    <ol>  
        {% for compliment in compliments %}
            <li>{{ compliment }}</li>
        {% endfor %}
    </ol>

    <form action="/game">
        <label>{{ person }}, would you like to play a game? 
            <input type="radio" name="gamechoice" value="yes">Yes
            <input type="radio" name="gamechoice" value="no">No
        <input type="submit">
    </form>
{% endblock %}

{% block footer %}Thanks for making a hard decision!{% endblock %}
