<!DOCTYPE html>
<html>
<head>
  <title>The Game</title>
</head>
<body>
    Fill out the form:

    <form action="/madlib">
        <label>Type in a person's name:
            <input type="text" name="person_name">
        </label>
        <label>Choose a color:
            <select name="color">
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Orange">Orange</option>
                <option value="Turquoise">Turquoise</option>
            </select>
        </label>
        <label>Type in a noun:
            <input type="text" name="noun">
        </label>
        <label>Type in a adjective:
            <input type="text" name="adjective">
        </label>
        <input type="submit" value="Submit Your Form!">
    </form>
</body>
</html>